* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serifx;
}
:root {
    --bg2: #fff8f8;
    --bg: #ffffff;
    --text: #000000;
    --card: #dbcece;
    --accent: #1668ff;
}
body.dark {
    --bg2: #1a1d1d;
    --bg: #1a1a1a;
    --text: #0ce3ff;
    --card: #000000;
       --accent: #db08f7;
}
body {
    background: var(--bg);
    color: var(--text);
    transition: 0.3s;
    padding-top: 120px;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}

.navbar div{
    font-size: 5.1vw;
    font-style: italic;
 text-shadow: 3px 3px 5px var(--text); 
}
.navbar {
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--card);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
     position: fixed;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 5vw; 
}
.navbar a {
    font-size: 2vw;
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
    display: inline-block;
    padding: 6px 10px;
    transition: 0.3s ease;
}
.navbar a:hover {
 transform: scale(1.4);
    text-shadow: 0px 0px 8px var(--text); 
    color: var(--text);   
}
h1{
      text-shadow: 2px 2px 5px var(--text); 
    font-size: 5vw;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px
}
#home.section-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
}
.logo {
    font-size: 3vw;
    font-weight: bold;
    color: var(--accent);
}
.theme-btn {
    padding: 6px 10px;
    font-size: 18px;
    cursor: pointer;
    background: var(--accent);
    color: #fff;
    border-radius: 6px;
    border: none;
}
.bg-logo {
    position: fixed;
    width: 350px;
    opacity: 0.5;
    right: 20px;
    top: 50%;  
}
.container {
    padding: 60px;
}
.title {
    text-align: center;
    margin-bottom: 10px;
}
.quiz-box {
    background: var(--card);
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 600px;
    margin: auto;
    border: 4px solid var(--text);
}
.question-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 25px;
}
.answers button {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    border: 3px solid var(--bg);
    border-radius: 6px;
    background: var(--accent);
    color: rgb(7, 2, 2);
    cursor: pointer;
    transition: 0.2s;
    font-size: 20px;
}
.answers button:hover {
    background-color: yellow;
}

.btn {
    display: block;
    margin: 20px auto;
    padding: 12px 30px;
    border: 3px solid var(--bg);
    background: var(--accent);
    color: var(--text);
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover {
    transform: scale(1.1);
}
.hide {
    display: none;
}
.result {
    text-align: center;
}
.progress-card {
    margin: 20px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid var(--text);
    background: var(--card);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
      text-shadow: 0px 0px 8px var(--accent); 
    font-weight: bold;
}
.result h2{
    font-size: 50px;
    font-weight: bolder;
      text-shadow: 0px 0px 8px var(--accent); 
    margin-bottom: 10px;
}
.about-section{
    margin-top: 0.5%;
    padding: 50px;
    font-size: 20px;
    background-color: var(--bg2);
    border-radius: 10px;
    width: 100%;
    height: auto;
}
.about-section h3{
    font-style: oblique;
    font-size: 23px;
    font-weight: bold;
    margin-top: 10px;
}
.about-section p{
    font-size: 23px;
}
.section {
    margin-top: 0.5%;
    padding: 100px;
    background-color: var(--bg2);
    border-radius: 10px;
}
h2{
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
    margin-bottom: 7px;
}
.section textarea {
    font-size: 15px;
    width: 100%;
    margin-top: 10px;
    height: 150px;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid var(--text);
}
.section-page {
    display: none;
}

.section-page.active {
    display: block;
}
.no-center {
    justify-content: flex-start !important;
    padding-top: 20px !important;
}

